body {
    margin-left: 6px;
    margin-top: 1px;
}

.container{
    display: grid;
    column-gap: 5em;
    grid-template-columns: auto  5fr 2fr;
}

#title_menu {
    width: 18vw;
    max-width: 200px;
    min-width: 150px;
    top: 0;
    /*border: 1px solid red;*/
    font-size-adjust: initial;
    position: -webkit-sticky;
}

#main_column{
    /*border: 1px solid red;*/
    justify-self: start;    
}


.section_title{
    margin-top: 3rem;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.main_separator{
    max-width: 45vw;
    margin:0px;
}

#profile_img {
    width: 98%;
    margin: 1% 1%;
    border-radius: 100%;
}

#title {
    font-weight: bold;
    margin: 1%;
    text-align: center;
    font-size: calc(12px + .4vw)
}

.title_separator {
    width: 15vw;
    max-width: 200px;
    min-width: 150px;
}

#subtitle {
    font-size: calc(10px + .4vw);
    color: rgba(80, 80, 80, 1);
    text-align: center;
    font-size-adjust: initial;
}

#menu {
    font-size: calc(12px + .4vw);
    list-style-type: none;
}

#menu li {
    margin: 5px;
}

.social{
    text-align: center;
}

.social_link{
    display: inline-block;
    text-align: center;
    margin: 5px 2px;
    color: inherit;
}

.social_link:hover{
    background-color: rgb(236, 235, 235);
}

.menu_link{
    color: inherit;
    text-decoration: none;
    font-size: 1.05em;
    text-size-adjust: initial;
}

.menu_link:hover{
    color: red;
    
}