/*********************
      MAIN COLUMN
         text
**********************/
main p {
    justify-self: start;
    text-align: justify;
    line-height: 1.7;
    text-indent: 2em;
    font-size: 15px;
}

main ol {
    padding-left: 6em;
}

main ol > li > p {
    text-indent: 0em;
    line-height: 1.2;
    padding-left: 1em;
}

.source-img {
    font-size: 12px;
    margin-bottom: 3em;
}

h2 {
    font-size: 2.5em;
    font-family: inherit;
    margin-top: 1em;
    letter-spacing: normal;
    color: white;
    background-color: rgba(20, 20, 20, .8);
    text-decoration: underline;
    text-decoration-style: solid;
}

.box-def {
    margin: 1.5625em auto;
    padding: 0 .6rem .8rem !important;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: .4rem solid rgb(46, 194, 66);
    background-color: rgba(46, 194, 66, 0.08);
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.05),0 0 .05rem rgba(0,0,0,.1);
    transition: color .25s,background-color .25s,border-color .25s;
    /*border-left: .4rem solid #080808;
        border-left-color: rgb(0, 0, 0);*/
}

.box-def > p {
    position: relative;
    margin: 0 -.6rem .75rem;
    padding: .2rem 1rem .2rem 1rem;
    text-indent: 0px;
    font-weight: 700;
    background-color: rgba(68, 255, 93, 0.15);
    /*background-color: rgba(109, 109, 109, 0.2);*/
}

.caution {
    border-left: .4rem solid rgb(251, 127,	77);
    background-color: rgba(251, 127,	77, 0.08);
}

.caution p {
    background-color: rgba(255, 124, 72, 0.1);
}



