body {
    margin-left: 6px;
    margin-top: 10px;
}

.menu_separator{
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

.main_separator{
    max-width: 75%;
    margin-left: 0px;
    margin-top:0px;
    margin-bottom:20px;
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

body {
    display: grid;
    column-gap: 8%;
    grid-template-columns: auto  1fr;
    margin-left: 1.5em;
    padding-right: 10px;
    width: 90%;
}

main{
    font-size: 1em;
}

#name{
    font-family: serif;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    border-collapse: separate;
    border-spacing: 10px 0;
}
  
td {
    padding: 3px 10px;
}

figure {
    margin-top: 30px;
    border: 10px solid #000;
    width: max-content;
}

figure img {
    display: block;   
}

figcaption {
    padding: 10px;
    position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
}


@media (min-width: 700px){
    .navbar{
        display: none;
    }

    .left-menu {
        width: 18vw;
        max-width: 200px;
        min-width: 100px;
        margin-top: 10px;
        /*border: 1px solid red;*/
        font-size-adjust: initial;
        position: -webkit-sticky;
    }

    main {
        /*border: 1px solid red;*/
        justify-self: start;
        text-justify: distribute-all-lines;
        width: 100%;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }

    main h1{
        text-align: left;
        font-size: 3em;
        font-weight: 1;
        width: 100%;
        height: auto;
        letter-spacing: 5px;
        margin-bottom: 1em;
        margin-top: 0.5em;
        color:black;
        border-style: double;
        border-top: 0;
        border-right: 0;
        text-decoration: none;
        padding-left: 20px;
        border-radius: 20px;
        
    }
    
    #profile_img {
        width: 98%;
        margin: 1% 0%;
        border-radius: 100%;
        size: 1fr;
    }

    #name {
        font-weight: bold;
        text-align: center;
        font-size: calc(8px + 1.15vw);
        padding: 0%;
        margin-top: 0%;
        margin-bottom: 10%;
    }

    #title {
        font-size: calc(5px + 1vw);
        color: rgba(80, 80, 80, 1);
        text-align: center;
        font-size-adjust: initial;
        margin-top: 5%;
    }

    #left-menu-items {
        font-size: calc(12px + .4vw);
        list-style-type: none;
        padding-left: 30%;
        margin: 0;
    }

    .text {
        text-align: justify;
    }

    .social{
        text-align: center;
    }

    .social_link{
        display: inline-block;
        text-align: center;
        margin: 5px 2px;
        color: inherit;
        font-size: calc(2px + 1.1vw);
        text-decoration: none;
    }

    .social_link:hover{
        background-color: rgb(236, 235, 235);
    }

    .menu_link{
        color: inherit;
        text-decoration: none;
        font-size: calc(8px + 1.15vw);
        text-size-adjust: initial;
    }

    .menu_link:hover{
        color: red;
        
    }

    .column {
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .multi-column-div:after {
        display: table;
      }

}

@media(min-width: 1200px){
    #name {
        font-weight: bold;
        text-align: center;
        font-size: 21.75px;
    }

    #title {
        font-size: 17px;
        color: rgba(80, 80, 80, 1);
        text-align: center;
        font-size-adjust: initial;
    }
    
    .menu_link{
        color: inherit;
        text-decoration: none;
        font-size: 22px;
        text-size-adjust: initial;
    }

    .social_link{
        display: inline-block;
        text-align: center;
        margin: 5px 2px;
        color: inherit;
        font-size: 15.6px;
    }
}


@media (max-width: 699px){
    .body{
        display: inherit;
        column-gap: 0%;
        grid-template-columns: 1fr;
        margin: 10px;
        padding: 0%;
        padding-right: 10px;
        width: 100%;
    }
    
    .title_menu {
        display: none;
        width: 18vw;
        max-width: 200px;
        min-width: 150px;
        top: 0;
        /*border: 1px solid red;*/
        font-size-adjust: initial;
        position: -webkit-sticky;
    }


    #main_column{
        /*border: 1px solid red;*/
        justify-self: start;
        width: 90%;
        max-width: 1400px;
        margin: 20px;
    }


    .section_title{
        margin-top: 3rem;
        font-size: 2rem;
        font-family: 'Courier New', Courier, monospace;
        width: 100%;

    }

    #profile_img {
        display: none;
        width: 98%;
        margin: 1% 1%;
        border-radius: 100%;
    }

    #name {
        display: none;
        font-weight: bold;
        margin: 1%;
        text-align: center;
        font-size: calc(50px + .6vw)
    }

    #title {
        display: none;
        font-size: calc(10px + .4vw);
        color: rgba(80, 80, 80, 1);
        text-align: center;
        font-size-adjust: initial;
    }

    .left-menu {
        font-size: calc(12px + .4vw);
        list-style-type: none;
    }

    #left-menu-items li {
        margin: 5px;
    }

    .text {
        text-align: justify;
    }

    .social{
        text-align: center;
    }

    .social_link{
        display: inline-block;
        text-align: center;
        margin: 5px 2px;
        color: inherit;
    }

    .social_link:hover{
        background-color: rgb(236, 235, 235);
    }

    .menu_link{
        color: inherit;
        text-decoration: none;
        font-size: 1.05em;
        text-size-adjust: initial;
    }

    .menu_link:hover{
        color: red;
        
    }
}
