/*********************
      MAIN COLUMN
    university logos
**********************/
.teaching-session {
    display: flex;
    width: fit-content;
}

.university-logo-ubc {
    float: left;
    margin-top: 0px;
    opacity: 30%;
}

.university-logo-ufes {
    float: left;
    opacity: 30%;
}

.university-logo-ufmg {
    float: left;
    opacity: 30%;
}